body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

#result-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.result-image {
    margin: 10px;
    max-width: 300px;
}
